.AppHeader {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: .44rem;
  background-color: #eee;
  h2 {
    font-size: .16rem;
    color: #333;
    text-align: center;
    line-height: .44rem;
    padding: 0 .44rem;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.backIcon, .rightIcon {
  width: .44rem;
  height: .44rem;
  position: absolute;
  top: 0;
}

.backIcon {
  left: 0;
  background: url(../../assets/back.svg) no-repeat .08rem center;
  background-size: .22rem;
}

.rightIcon {
  right: 0;
}

.AppTabMenu {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: .5rem;
  background-color: #555;
  ul {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    li {
      flex: 1;
      height: 100%;
      list-style: none;
    }
    a {
      color: #fff;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        margin: 0 auto;
        height: .2rem;
        filter: grayscale(100%);
      }
      p {
        font-size: .13rem;
        margin-top: .02rem;
      }
    }
  }
}
.activeMenu {
  img {
    filter: grayscale(0) !important;
  }
  p {
    color: #FF893C !important;
  }
}

.Loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: .4rem;
  line-height: .4rem;
  img {
    height: .2rem;
    margin-right: .06rem;
  }
  p {
    color: #999;
    font-size: .14rem;
  }
}